<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blog</title>
    <link rel="stylesheet" href="styles/main.css" />
</head>
<body>
   <div class="horizontal">
        <div  class="menu" >
            <form action="/Home" method="post">
                <button type="submit"  class="navbar">Home</button>
             </form>
            <a href="https://www.amazon.ae/"><button  type="button"  class="navbar">amazon</button></a>
            <form action="/entries" method="post">
                <button type="submit"  class="navbar">entries</button>
            </form>
           
            <form action="/new" method="post">
                <button type="submit"  class="navbar">make new entry</button>
            </form>
        </div>
        
  